body {
  padding: 10px;
  font-family: sans-serif;
}


.align-right{
  text-align: right
}

.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0,0,0,.4);
  -webkit-box-shadow: 0 35px 20px rgba(0,0,0,.4);
  -moz-box-shadow: 0 35px 20px rgba(0,0,0,.4);
  box-shadow: 0 35px 20px rgba(0,0,0,.4);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.effect5:after
{
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  right: 10px;
  left: auto;
}

.completed {
  text-decoration: line-through;
  opacity: .6;
  color: green;
}

}